.login-container {
    display: flex;
    height: 100vh;
  }
  
  .login-left {
    flex: 1;
    background: url('/public/images/logo.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  
  .login-left h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .login-left p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons .icon {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-right {
    flex: 1;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
  }
  
  .login-logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .social-login {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .or {
    margin-bottom: 10px;
  }
  
  .login-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .sign-in-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-in-button:hover {
    background-color: #0056b3;
  }
  
  .login-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .login-footer a {
    color: #ccc;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    color: white;
  }
  